*{
	background-color:white;
}

.div1{
	height:100px;
	width:400px;
	background-color:red;
	color:black;
	border:3px soild blue;
}

.div2{
	background-color:blue;
	background-size:100%;
}

img{
	height:100px;
	width:100px;
}

body{
	color:orange;
}

ul{
	list-style-type:none;
	margin:0;
	padding::3px;
}

ol{
	list-style-type:upper-roman;
}

.timing{
	height:700px;
	border:3px soild black;
}

#weight{
	height:200px;
	width:100px;
	border:20px dashed yellow;
	margin-left:100px;
	margin-top:400px;
}

li{
	display:inline;
}
.green{
	color:green
}

.blue{
	color:blue;
}

table{
	border: 5px dashed aqua;
	padding:50px;
}

td{
	border: 5px dashed aqua;
	margin-right:100px;

}

a{
	text-decoration:none;
	color:red;
	
}

img{
	opacity:.5;
}

img:hover{
	opacity:1;
}